@import url(style.css);

.close-button{
  position: absolute;
  top: 20px;
  left: 20px;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
  padding: 5px 10px;
  border-radius: 3px;
  color: #000000;
  font-family: cursive;
  font-weight: 900;
}

.instructions {
  font-size: 2rem;
  color: var(--bg-300);
  position: absolute;
  top: 4rem;
  text-transform: uppercase;
  text-align: center;
}

.traffic-light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 30px #f90000;
}

.simon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 3;
  scale: 0.95;
}

/* Classes to style simon widget */
.bg1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 330px;
  height: 330px;
  border-top-right-radius: 46%;
  border-top-left-radius: 46%;
  border-bottom-right-radius: 46%;
  border-bottom-left-radius: 46%;

  background-color: var(--bg-200);

  border: var(--bg-100) 6px solid;
  border-style: double;
  box-shadow: 1px 1px 1em #000000;
}

.fg1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 96px;
  height: 96px;
  border-radius: 100%;
  background-color: rgb(31, 31, 31);
  /* border: var(--bg-200) 6px solid; */
  z-index: 8;
}

.score {
  position: absolute;
  font-family: monospace;
  font-weight: bolder;
  font-size: 1.5rem;
  text-shadow: #707070 0px 0px 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 24;
}

.quarter {
  width: 140px;
  height: 140px;
  background-color: #fff;
  border: var(--bg-200) 8px solid;
  z-index: 4;
}

.q1 {
  background: linear-gradient(
    75deg,
    var(--simon-yellow),
    #f6ff00,
    var(--simon-yellow)
  );
  border-radius: var(--round-1);
  border-top-left-radius: 100%;
}

.q2 {
  background: linear-gradient(
    140deg,
    var(--simon-green),
    #7bdf09,
    var(--simon-green)
  );
  border-radius: var(--round-1);
  border-top-right-radius: 100%;
}

.q3 {
  background: linear-gradient(
    140deg,
    var(--simon-blue),
    #0077ff,
    var(--simon-blue)
  );
  border-radius: var(--round-1);
  border-bottom-left-radius: 100%;
}

.q4 {
  background: linear-gradient(
    75deg,
    var(--simon-red),
    #ff5858,
    var(--simon-red)
  );
  border-radius: var(--round-1);
  border-bottom-right-radius: 100%;
}

.red {
  background-color: red;
  min-width: 20px;
  min-height: 20px;
}
