body {
    background-color: red;
}


.flex {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
 
}

.bottom {
    position: absolute;
    bottom: 5%;
    left: 0;
}

.loading {
    width: 100px;
    height: 20px;
    background-color: white;
}