@font-face {
  font-family: "comic";
  src: url("../../public/comicrelief-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  --bg-100: #16191d;
  --bg-200: #2a2a2a;
  --bg-300: #555555;

  --simon-yellow: #cbc100;
  --simon-green: #00d307;
  --simon-blue: #004adf;
  --simon-red: #ff1e09;
  --simon-press: #fff;

  --round-1: 20px;
  --round-2: 40px;
  --round-3: 60px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  background: linear-gradient(
    135deg,
    var(--bg-100),
    var(--bg-200),
    var(--bg-100)
  );
  color: whitesmoke;
  font-family: "comic";
}

body {
  height: 100dvh;
  overflow: hidden;
}



.scene {
  margin: auto;
  outline: solid 1px rgb(28, 28, 28);
  border-radius: 5px;
  height: 95dvh;
  min-height:95dvh;
  width: 95vw;
  min-width: 280px;
  max-width: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  color: var(--colors-white, #ebebeb);
}
.container {
  align-self: center;
  max-width: 400px;
}
.red-square {
  width: 100px;
  height: 100px;
  background-color: red;
}

.scene-name {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 0, 0);
}

.btn {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #3e3e3e, #2e2e2e);
  color: rgb(238, 238, 238);
  outline: rgb(63, 63, 63) 1px solid;
  margin-top: 20px;
  font-family: comic;
}

.btn:active {
  background-color: #00ccff;
  box-shadow: 1px 1px white;
  scale: 0.9;
}

/* utility  */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fullscreen {
  position: absolute;
  top: 10px;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: none;
  font-size: 0.7rem;
}

.block {
  width: 140px;
  height: 140px;
  background-color: var(--bg-300);
}

.bottom {
  position: absolute;
  bottom: 60px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.hidden {
  opacity: 0;
}

