* {
  margin: 0;
  padding: 0;
}


body {
  height: 100vh;
  overflow: hidden;

  background: linear-gradient(135deg, rgba(38, 43, 47, 1) 0%, rgba(22, 25, 29, 1) 100%);
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  outline: solid 1px rgb(71, 71, 71);
  height: 95vh;
  width: 95vw;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.red-square {
  width: 100px;
  height: 100px;
  background-color: red;
}

.scene-name {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(184, 184, 184);
}

/* 
262B2F
16191D 
*/