<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Simon Says Replay is an engaging and addictive npm package that brings back the classic memory game experience to your fingertips. Test your memory skills and challenge yourself to remember and replicate sequences of colors and sounds in this captivating game. With a sleek and intuitive interface, Simon Says Replay offers an immersive gameplay experience that will keep you entertained for hours. Whether you're a casual player looking for a fun way to pass the time or a memory enthusiast seeking to sharpen your cognitive abilities, Simon Says Replay is the perfect choice. Get ready to exercise your brain, master the sequences, and become the ultimate memory champion with Simon Says Replay!" />
  <meta name="keywords" content="memory game " />
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="manifest" href="./manifest.json" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <script>navigator.serviceWorker.register("./service-worker.js")</script>
</head>

<body>
  <div id="root"></div>
</body>

</html>